{
  "openapi": "3.1.0",
  "info": {
    "title": "AgenNext Agent Identity API",
    "version": "1.0.0",
    "description": "REST API for registering AI agents, resolving DIDs, managing keys, issuing credentials, granting capabilities, calculating trust, handling revocations, and auditing identity lifecycle events."
  },
  "servers": [
    { "url": "https://identity.agennext.ai", "description": "Production" },
    { "url": "http://localhost:8000", "description": "Local development" }
  ],
  "tags": [
    { "name": "Agents" },
    { "name": "DIDs" },
    { "name": "Keys" },
    { "name": "Credentials" },
    { "name": "Capabilities" },
    { "name": "Trust" },
    { "name": "Revocations" },
    { "name": "Audit" }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "tags": ["System"],
        "responses": { "200": { "description": "Service is healthy" } }
      }
    },
    "/ready": {
      "get": {
        "summary": "Readiness check",
        "tags": ["System"],
        "responses": { "200": { "description": "Service is ready" } }
      }
    },
    "/v1/agents": {
      "post": {
        "summary": "Register a new agent",
        "tags": ["Agents"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentCreate" } } }
        },
        "responses": { "201": { "description": "Agent created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Agent" } } } } }
      },
      "get": {
        "summary": "List agents",
        "tags": ["Agents"],
        "responses": { "200": { "description": "Agents", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Agent" } } } } } }
      }
    },
    "/v1/agents/{agent_id}": {
      "get": {
        "summary": "Get an agent",
        "tags": ["Agents"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "responses": { "200": { "description": "Agent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Agent" } } } } }
      }
    },
    "/v1/dids/{did}": {
      "get": {
        "summary": "Resolve DID document",
        "tags": ["DIDs"],
        "parameters": [{ "name": "did", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "DID document", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DIDDocument" } } } } }
      }
    },
    "/v1/agents/{agent_id}/keys": {
      "post": {
        "summary": "Add an agent key",
        "tags": ["Keys"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentKeyCreate" } } } },
        "responses": { "201": { "description": "Key created" } }
      },
      "get": {
        "summary": "List agent keys",
        "tags": ["Keys"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "responses": { "200": { "description": "Keys" } }
      }
    },
    "/v1/agents/{agent_id}/credentials": {
      "post": {
        "summary": "Issue an agent credential",
        "tags": ["Credentials"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CredentialCreate" } } } },
        "responses": { "201": { "description": "Credential issued" } }
      }
    },
    "/v1/credentials/{credential_id}/verify": {
      "post": {
        "summary": "Verify credential",
        "tags": ["Credentials"],
        "parameters": [{ "name": "credential_id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Verification result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VerificationResult" } } } } }
      }
    },
    "/v1/agents/{agent_id}/capabilities": {
      "post": {
        "summary": "Grant capability",
        "tags": ["Capabilities"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CapabilityGrantCreate" } } } },
        "responses": { "201": { "description": "Capability granted" } }
      }
    },
    "/v1/agents/{agent_id}/trust": {
      "get": {
        "summary": "Get agent trust score",
        "tags": ["Trust"],
        "parameters": [{ "$ref": "#/components/parameters/AgentId" }],
        "responses": { "200": { "description": "Trust score", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrustScore" } } } } }
      }
    },
    "/v1/revocations": {
      "post": {
        "summary": "Create revocation record",
        "tags": ["Revocations"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RevocationCreate" } } } },
        "responses": { "201": { "description": "Revocation created" } }
      }
    },
    "/v1/audit-events": {
      "get": {
        "summary": "List audit events",
        "tags": ["Audit"],
        "responses": { "200": { "description": "Audit events" } }
      }
    }
  },
  "components": {
    "parameters": {
      "AgentId": { "name": "agent_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
    },
    "schemas": {
      "AgentCreate": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "organization_id": { "type": "string", "format": "uuid" },
          "developer_id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "agent_type": { "type": "string", "default": "assistant" },
          "runtime": { "type": "string" },
          "model_provider": { "type": "string" },
          "model_name": { "type": "string" },
          "metadata": { "type": "object", "additionalProperties": true }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "did": { "type": "string" },
          "name": { "type": "string" },
          "status": { "type": "string", "enum": ["draft", "active", "suspended", "revoked", "deleted"] },
          "trust_level": { "type": "string", "enum": ["unknown", "low", "medium", "high", "verified"] },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "DIDDocument": {
        "type": "object",
        "properties": {
          "@context": { "type": "array", "items": { "type": "string" } },
          "id": { "type": "string" },
          "verificationMethod": { "type": "array", "items": { "type": "object" } },
          "authentication": { "type": "array", "items": { "type": "string" } },
          "assertionMethod": { "type": "array", "items": { "type": "string" } },
          "service": { "type": "array", "items": { "type": "object" } }
        }
      },
      "AgentKeyCreate": {
        "type": "object",
        "required": ["public_key_multibase"],
        "properties": {
          "algorithm": { "type": "string", "default": "Ed25519" },
          "public_key_multibase": { "type": "string" },
          "private_key_ref": { "type": "string" },
          "valid_until": { "type": "string", "format": "date-time" }
        }
      },
      "CredentialCreate": {
        "type": "object",
        "required": ["credential_type", "claims"],
        "properties": {
          "credential_type": { "type": "string" },
          "claims": { "type": "object", "additionalProperties": true },
          "expires_at": { "type": "string", "format": "date-time" }
        }
      },
      "CapabilityGrantCreate": {
        "type": "object",
        "required": ["capability", "resource", "action"],
        "properties": {
          "capability": { "type": "string" },
          "resource": { "type": "string" },
          "action": { "type": "string" },
          "constraints": { "type": "object", "additionalProperties": true },
          "valid_until": { "type": "string", "format": "date-time" }
        }
      },
      "TrustScore": {
        "type": "object",
        "properties": {
          "agent_id": { "type": "string", "format": "uuid" },
          "score": { "type": "number", "minimum": 0, "maximum": 100 },
          "confidence": { "type": "number", "minimum": 0, "maximum": 100 },
          "trust_level": { "type": "string" },
          "calculated_at": { "type": "string", "format": "date-time" }
        }
      },
      "VerificationResult": {
        "type": "object",
        "properties": {
          "valid": { "type": "boolean" },
          "reason": { "type": "string" }
        }
      },
      "RevocationCreate": {
        "type": "object",
        "required": ["target_type", "target_id", "reason"],
        "properties": {
          "target_type": { "type": "string" },
          "target_id": { "type": "string" },
          "reason": { "type": "string" },
          "revoked_by": { "type": "string" },
          "metadata": { "type": "object", "additionalProperties": true }
        }
      }
    }
  }
}
